﻿
@page "/Combo/Delete/{ComboId:int}"
@rendermode InteractiveServer
@inject CombosServices comboService
@inject NavigationManager navigation
@inject ToastService Toast
<link rel="stylesheet" href="StyleDetails.css" />


<PageTitle> Eliminar Combo</PageTitle>
<Toasts class="p-3" AutoHide="true" Delay="4000" Placement="ToastsPlacement.TopRight"   />


<div class="container">
    <div class="card shadow-lg">
        <div class="card-header text-center">
            <h5><strong>Datos del Combo</strong></h5>
        </div>

        <div class="card-body">
            <div class="text-center">
                <h5>¿Desea eliminar el Combo?</h5>
            </div>

            <table class="mt-4 table">
                <tr>
                    <td><strong>Combo Id:</strong></td>
                    <td>@Combos.ComboId</td>
                </tr>
                <tr>
                    <td><strong>Fecha:</strong></td>
                    <td>@Combos.Fecha</td>
                </tr>
                <tr>
                    <td><strong>Descripc&iacute;n</strong></td>
                    <td>@Combos.Descripcion</td>
                </tr>
                <tr>
                    <td><strong>Precio:</strong></td>
                    <td>@Combos.Precio.ToString("N2")</td>
                </tr>
            </table>


            <div class="border border-success p-2 mt-2">
                @foreach (var detalle in Combos.CombosDetalles)
                {
                    <ul>
                        <li>Articulo Id: @detalle.ArticuloId</li>
                        <li>Nombre Articulo: @detalle.Articulos?.Descripcion</li>
                        <li>Cantidad Articulo: @detalle.Cantidad </li>
                        <li>Total en Articulos: @detalle.Costo $</li>
                    </ul>
                }
            </div>
        </div>


        <div class="card-footer text-center">
            <a href="/Index" class="btn btn-outline-primary bi bi-arrow-left"> Volver</a>
            <button type="submit" @onclick="Eliminar" class="btn btn-outline-danger btn bi bi-trash"> Eliminar</button>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public int ComboId { get; set; }
    public Combos Combos { get; set; } = new Combos();

    protected override async Task OnInitializedAsync()
    {
        Combos = await comboService.BuscarConDetalle(ComboId);
    }

    public async Task Eliminar()
    {
        var eliminar = await comboService.Eliminar(Combos.ComboId);

        if (eliminar)
        {
            Toast.Notify(new(ToastType.Primary, $"Se ha eliminado el combo"));
            await Task.Delay(4000);
            Console.WriteLine("La Cotizacion fue eliminada correctamente.");
            navigation.NavigateTo("/Index");
        }
        else
        {
            Console.WriteLine("No se pudo eliminar la Cotizacion.");
        }
    }
}