@page "/Index"
@inject CombosServices combosService


@*@inject RegistroServices registroService*@
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle></PageTitle>
<div class="container">
    <div class="card shadow-lg">
        <div class="card-header">
            <h5 class="card-title">Registro</h5>
        </div>

        <div class="card-body">

            <table class="table table-hover">
                <thead class="text-center">
                    <tr>
                        <th><strong>Combo Id</strong></th>
                        <th><strong>Fecha</strong></th>
                        <th><strong>Descripc&iacute;on</strong></th>
                        <th><strong>Precio</strong></th>
                        <th><strong>Vendido</strong></th>
                        <th><strong>Editar</strong></th>
                        <th><strong>Eliminar</strong></th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    @foreach (var combo in Combos)
                    {
                        <tr>
                            <td>@combo.ComboId</td>
                            <td>@combo.Fecha</td>
                            <td>@combo.Descripcion</td>
                            <td>@combo.Precio</td>
                            <td>@combo.Vendindo</td>

                            <td class="text-center">
                                <a href="/Registro/Edit/@combo.ComboId" class="btn btn-outline-primary bi bi-pencil-square"></a>
                            </td>

                            <td class="text-center">
                                <a href="/Registro/Delete/@combo.ComboId" class="btn btn-outline-danger bi bi-trash"></a>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <a href="/Combo/Create" class="btn btn-primary"> <span class="bi bi-plus-square mt-3"></span> Crear</a>
        </div>
    </div>
</div>

@code {
    public List<Combos> Combos { get; set; } = new List<Combos>();

    protected override async Task OnInitializedAsync()
    {
        Combos = await combosService.Listar(a => a.ComboId > 0);
    }
}